*{
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
	box-sizing: border-box;
}

body{
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.3)50%, rgba(0, 0, 0, 0.3)50%), url('../images/B.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.requestSent{
	width: 620px;
	height: auto;
	background: transparent;
	color: azure;
	border-radius: 10px;
	padding: 20px 20px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.requestSent h1{
	font-size: 30px;
	text-align: center;
	color: rgba(255, 236, 0, 1);
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

.requestSent .buttons{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 55px;
}

.buttons button{
	font-size: 20px;
	padding: 0px 15px;
	margin-top: 10px;
	cursor: pointer;
	background: rgb(50, 100, 200);
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 4px rgb(0, 0, 0);
	border: none;
	border-radius: 5px;
	font-weight: 400;
}

.buttons button:hover{
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
}