*{
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
	box-sizing: border-box;
}

body{
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('../images/B.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.regPage{
	width: 420px;
	height: auto;
	background: transparent;
	color: azure;
	border-radius: 10px;
	padding: 30px 40px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.regPage h1{
	font-size: 36px;
	text-align: center;
	color: rgba(255, 236, 0, 1);
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

.regPage .input{
	width: 100%;
	height: 30px;
	margin: 20px 0;
}

.input input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: azure;
	padding: 20px 15px;
}

.regPage .msg{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.regPage .msg p{
	color: rgba(208, 245, 39, 1);
	text-shadow: 0px 0px 2px rgba(255,255,255,1);
	margin-bottom: 10px;
}

.regPage .lawyerRegButtons{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 45px;
}

.lawyerRegButtons button{
	font-size: 20px;
	padding: 0px 15px;
	margin-right: 10px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 4px rgb(0, 0, 0);
	border: none;
	border-radius: 5px;
	font-weight: 400;
}

.lawyerRegButtons .btnReg{
	background: rgb(50, 140, 70);
}

.lawyerRegButtons .btnBack{
	background: rgb(170, 50, 50);
}

.lawyerRegButtons button:hover{
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
}